*{
  /* width/height = content + padding + border */
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

div {
  border: 1px solid black;
}

/* 상하 2분할 */
.container-1 {
  width: 500px;
  height: 600px;
  margin: 20px;
}

.container-1 > div {
  width: 100%;
  height: 50%;
}

.container-1 > div:first-child {
  background-color: #973131;
}
.container-1 > div:last-child {
  background-color: #E0A75E;
}

/* 세로 3분할 */
.container-2 {
  width: 300px;
  height: 432px;
  margin: 20px;
  border: 1px solid #402E7A;
}
.container-2 > div {
  border: 1px solid #402E7A;
  text-align: center;
  padding: 10% 0;
  font-size: 3em;
  color: white;
}

.container-2 > #div1 {
  width: 100%;
  height: 50%;
  background-color: #4C3BCF;
}
.container-2 > #div2 {
  width: 100%;
  height: 30%;
  background-color: #4b70f5;
}
.container-2 > #div3 {
  width: 100%;
  height: 20%;
  background-color: #3DC2EC;
}

/* 가로 5:5 */
.container-3 {
  width: 300px;
  height: 100px;
  margin: 20px;
  /* 내부 요소를 유연하게 배치합니다 */
  display: flex;
  flex-direction: row;/* 기본값 */
}

.container-3 > div {
  width: 50%;
  /* height: 100%; *//* align-items:stretch; 가 기본값이라 안써도 됨 */
}
.container-3 > div:first-child{background-color: #91DDCF;}
.container-3 > div:last-child{background-color: #E8C5E5;}

/* 가로 5분할 */

.container-4 {
  width: 600px;
  height: 100px;
  margin: 20px;
  display: flex;
  flex-direction: row;
}
/* .container-4 > div {  height: 100px;} *//* align-items:stretch; 가 기본값이라 안써도 됨 */
.container-4 > div:nth-child(2n-1) {
  width: 10%;
}
.container-4 > div:nth-child(2n) {
  width: 35%;
}

/* 田 모양 만들기 */

/* 방법1 : 행/열을 먼저 나눈 후 내부 2분할 */

.container-5 {
  width: 300px;
  height: 300px;
}
.row-50 {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.col-50{
  width: 50%;
  height: 100%;
}

/* 방법2 flex-wrap을 이용하여 분할 */

.window {
  width: 50%;
  height: 50%;
}

.flex { display: flex; }
.wrap { flex-wrap:wrap; }


/* 랩핑 */
.container-50 {
  width: 300px;
  height: 300px;
  /* display: flex; */
  flex-direction: row;
  /* flex-wrap:wrap; */
}


/* .container-50 > div{width: 50%;height: 50%;} */
.container-50 > div:nth-of-type(1){
  order: 4;
  width: 80%;
  height: 80%;
}
.container-50 > div:nth-of-type(2){
  order: 3;
  width: 20%;
  height: 80%;
}
.container-50 > div:nth-of-type(3){
  order: 2;
  width: 80%;
  height: 20%;
}
.container-50 > div:nth-of-type(4){
  order: 1;
  width: 20%;
  height: 20%;
}

