.bc11 {background-color: #91DDCF;}
.bc12 {background-color: #F7F9F2;}
.bc13 {background-color: #E8C5E5;}
.bc14 {background-color: #F19ED2;}

.bc21 {background-color: #151515;}
.bc22 {background-color: #A91D3A;}
.bc23 {background-color: #C73659;}
.bc24 {background-color: #EEEEEE;}

.bc31 {background-color: #C40C0C;}
.bc32 {background-color: #FF6500;}
.bc33 {background-color: #FF8A08;}
.bc34 {background-color: #FFC100;}

.bc41 {background-color: #E4C59E;}
.bc42 {background-color: #AF8260;}
.bc43 {background-color: #803D3B;}
.bc44 {background-color: #322C2B;}

.bc51 {background-color: #191919;}
.bc52 {background-color: #750E21;}
.bc53 {background-color: #E3651D;}
.bc54 {background-color: #BED754;}

.bc61 {background-color: #FFF5C2;}
.bc62 {background-color: #F4F27E;}
.bc63 {background-color: #6DB9EF;}
.bc64 {background-color: #3081D0;}

.bc71 {background-color: #008DDA;}
.bc72 {background-color: #41C9E2;}
.bc73 {background-color: #ACE2E1;}
.bc74 {background-color: #F7EEDD;}